body {
    background-color:rgb(255, 234, 234);
}
.title {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    
}
.sign {
    width: 100px;
    margin: 10px auto;
    font-size: 30px;
    height: 30px;
}
.mainContainer {
    margin: 40px auto;
    background-color: black;
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.box {
    position: relative;
    background-color: rgb(255, 234, 234);
    width: 130px;
    height: 130px;
}
.playerStatus {
    width: 25%;
    height: 150px;
    color: blue;
    position:absolute;
    top: 50px;
    text-align: center;
    font-size: 20px;
    background-color: rgba(0, 0, 255, 0.399);
}
.player1status {
    color: blue;
    left: 0;
}
.player1Trophy {
    display: flex;
}
.player2Trophy {
    display: flex;
    
}
.player2status {
    color: red;
    right: 0;
}

.fa-trophy-star {
    width: 20px;
    height: 24px;
    color: black;
}
.overLay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(109, 109, 107, 0.762);
}
.winnerMessage {
    width: 300px;
    height: 200px;
    border-radius: 5px;
    margin: 100px auto;
    background-color: rgb(0, 0, 0);
}
.winner {
    top: 20px;
    position: relative;
    font-size: 35px;
    color:rgb(255, 250, 223);
    text-align: center;
    border-radius: 5px;
}
.buttons {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}
.playAgain {
    background-color: rgb(207, 207, 242);
    width: 80px;
    height: 30px;
    color: rgb(32, 32, 32);
    border-radius: 4px;
    cursor: pointer;
    padding: 5px;
}
.circle {
    position: absolute;
    top:10px;
    left: 10px;
    width: 70%;
    height: 70%;
    border-radius: 100px;
    border: 10px black solid;
    
}
.cross {
    background-color: rgb(255, 234, 234);
    position: relative;
    top:10px;
    left: 15px;
    width: 85%;
    height: 85%;
}
.bars {
    position: absolute;
    background-color: black;
    width: 120%;
    height: 10px;
    border-radius: 5px;
}
.bar1 {
    position: absolute;
    transform: rotate(45deg);
    transform-origin: left;
    top: 4px;
}
.bar2 {
    position: absolute;
    transform: rotate(-45deg);
    transform-origin: left;
    bottom: 4px;
}
